* {
  --title-font: 'Playfair Display', serif;
  --quote-font: 'Playfair Display', serif;
}

body {
  text-align: center;
}

h1 {
  font-family: var(--title-font);
}

.container {
  margin: auto;
  width: 100%;
}

#quote-box {
  margin: auto;
  width: 50%;
}

.quote-box {
  border: 1px solid lightgrey;
  padding: 20px 50px;
}

#text {
  font-family: var(--quote-font);
  font-weight: 100;
  font-size: 1.5em;
}

#tweet-quote {
  text-decoration: none;
}

#author {
  font-size: 15px;
}

.footer > a {
  color: #6c757d;
  text-decoration: none;
}

.footer > a:hover {
  display: inline-block;
  color: black;
  transform: scale(1.1);
  transition: margin-right 2s, color 1s;
}