:root {
  --default-font: 'Playfair Display', serif;
}

body {
  font-family: var(--default-font);
  text-align: center;
}

#quote-box {
  margin: auto;
  width: 50%;
  border: 1px solid lightgrey;
}

#text {
  font-family: var(--default-font);
  font-weight: 100;
  font-size: 1.5em;
}

#tweet-quote {
  text-decoration: none;
}

#author {
  font-size: 15px;
}

.footer > a {
  color: #6c757d;
  text-decoration: none;
}

.footer > a:hover {
  display: inline-block;
  color: black;
  transform: scale(0.95);
  transition: margin-right 2s, color 1s;
}