* {
  --title-font: 'Playfair Display', serif;
  --quote-font: 'Playfair Display', serif;
}

body {
  text-align: center;
  /*background-color: #3b7a57;*/
}

h1 {
  font-family: var(--title-font);
}

.container {
  margin: auto;
  width: 100%;
}

#tweet-quote {
  text-decoration: none;
}

#quote-box {
  margin: auto;
  width: 50%;
}

#text {
  font-family: var(--quote-font);
}

#author {
  font-size: 15px;
}

.quote-box {
  border: 1px solid green;
  padding: 20px 50px;
}

.footer > a {
  color: #6c757d;
  text-decoration: none;
}

.footer > a:hover {
  color: black;
}